.flag-select__option__icon {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 0 !important;
}
.flag-select__btn {
  color: #fff !important;
}
.flag-select__options {
  right: 0;
  position: absolute;
  z-index: 999999;
  border: 1px solid #bdbbbb;
  border-radius: 3px;
  background: #fff;
  margin-top: 8px;
  padding: 8px 0;
  max-height: 160px;
  overflow: auto;
}

.navbar-brand {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

.developedBy {
  color: rgb(179, 179, 179);
}
